<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../public/css/styles.css">

</head>
<body>

<h1>Welcome <span th:text="${user.username}">Guest</span>!</h1>

<div th:each="post : ${posts}" class="post-layout">
  <div class="post_structure">
    <h1 class="Title">Title:</h1>
    <h1 class="postTitle secondaryContent" th:text="${post.title}">Post Title</h1>
  </div>

  <div class="post_structure">
    <h2>Author:</h2>
    <h3 class="author secondaryContent" th:text="${post.user_id}">User</h3>
  </div>

  <p th:text="${post.content}">Post Content</p>

  <form th:action="@{/posts/upvote/{id}(id=${post.id})}" method="post" style="display:inline">
    <button type="submit">Upvote (<span th:text="${post.upvotes}">0</span>)</button>
  </form>

  <!-- Downvote form -->
  <form th:action="@{/posts/downvote/{id}(id=${post.id})}" method="post" style="display:inline">
    <button type="submit">Downvote</button>
  </form>
</div>




<br>
<br>
<form action="logout" method="post">
  <button type="submit">Log out</button>
</form>
</body>
</html>